.fakeimg {
    height: 200px;
    background: #aaa;
    color: black;
  }
  .fakeimg_small {
    width: 30%;
    height: 200px;
    background: #aaa;
    color: black;
  }
  .bg-orange {
    background-color: orange;
  }
  .orange{
    color: orange;
  }
  body {
    background-image: url("bg.jpg");
}